################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/

/src/FieldEventManagement.Agent/LocalQueue
/field-event-app/.vscode
/src/FieldEventManagement.Agent/LocalPoisonQueue
/src/FieldEventManagement.slnLaunch.user
/src/FieldEventManagement.Agent/LocalDatabase
