<div class="login-container">
  <h2>התחברות למערכת</h2>
  
  <form (ngSubmit)="onLogin()">
    <div>
      <label>שם משתמש:</label>
      <input [(ngModel)]="credentials.username" name="username" required>
    </div>
    
    <div>
      <label>סיסמה:</label>
      <input type="password" [(ngModel)]="credentials.password" name="password" required>
    </div>

    <button type="button" (click)="onLogin()">התחבר</button>
  </form>

  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
</div>